@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-main font-sans;
}

p {
  @apply text-xl leading-6 text-primary-font-blue md:text-[1.5rem] md:leading-[3rem];
}

li {
  @apply text-lg text-primary-font-blue;
}

ul {
  @apply list-disc px-5;
}

.p-large {
  @apply text-justify text-xl leading-8 md:pb-8 md:pt-8 md:text-left md:text-[1.5rem] md:leading-[3rem];
}

.nav-link {
  @apply text-xl font-semibold hover:text-tertiary-font-action-blue active:text-secondary-font-pink;
}

.nav-link-sm {
  @apply text-2xl font-semibold hover:text-tertiary-font-action-blue active:text-secondary-font-pink;
}

.section {
  @apply flex snap-start justify-center overflow-y-auto overflow-x-hidden py-10 md:py-20;
}

.container {
  @apply mx-8 flex w-full flex-col items-center p-4 lg:mx-auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.mix-blend-lighten {
  mix-blend-mode: lighten;
}

.section-title {
  @apply mb-12 text-center text-4xl font-bold text-secondary-font-pink;
}

.project-title {
  @apply text-center text-5xl font-bold text-secondary-font-pink md:text-left;
}

.action-button {
  @apply relative flex h-12 w-full min-w-52 max-w-96 flex-row items-center justify-center gap-2 text-nowrap rounded-lg bg-tertiary-font-action-blue py-2 font-semibold text-primary-font-blue shadow-lg shadow-white/25 hover:bg-tertiary-font-action-blue/90;
}

.cursor {
  @apply pointer-events-none fixed inset-0 z-30 aspect-square w-[600px] rounded-full bg-custom-gradient bg-blend-color-dodge mix-blend-color-dodge transition duration-300;
  transition: transform 0.1s ease-out;
}

.rocket {
  @apply z-10 m-7 block h-9 w-9 cursor-pointer items-center;
  offset-path: path(
    "M18.3,18.3c0,0,19.8-73.6,84.7-73.2c89,0.4,120.5,149.7-29.5,149.7c-91,0-125.2-66.1-120-108.9L-800,-800"
  );
  offset-distance: 0%;
}

.rocket-hover:hover {
  @apply animate-wiggle;
}

.tab-button {
  @apply cursor-pointer rounded-t-md border-2 border-b-0 border-tertiary-font-action-blue bg-transparent px-4 py-2 font-semibold text-tertiary-font-action-blue shadow-[0_0_10px_1px_rgba(45,163,172)];
  transition: background-color 0.2s;
}

.tab-button.active {
  @apply bg-tertiary-font-action-blue text-primary-font-blue;
}

.work-card {
  @apply rounded-lg border-none bg-transparent shadow-[0_0_10px_1px_rgba(45,163,172)];
  transition: shadow 0.2s;
}

.work-card:hover {
  @apply shadow-none;
}
